header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #00008B;
  font-size: 20px;
}

ul {
  display: flex;
  list-style: none;
}

li {
  margin-left: 40px;
}

.the_text {
  position: relative;
}

.img_box {
  display: block;
  width: 50%;
  height: 50%;
  margin: 70px 0 0 auto;
  z-index: 3;
}

.img {
  width: 100%;
}

html {
  font-size: 75%;
}

.maintext {
  font-size: 5rem;
  position: absolute;
  top: 35%;
}

.bar {
  display: block;
  width: 70%;
  height: 45%;
  margin: 0 auto 0 0;
  background-color: #00008B;
  position: absolute;
  top: 75%;
  z-index: -1;
}